@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "parkinsans";
  src: url("../fonts/Parkinsans-Medium.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "parkinsans-regular";
  src: url("../fonts/Parkinsans-Regular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "handlee";
  src: url("../fonts/Handlee-Regular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/InterRegular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter-medium";
  src: url("../fonts/InterMedium.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dancing-bold";
  src: url("../fonts/DancingScriptBold.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

.container-home {
  background-image: url("../../public/images/back-phone.jpg");
  background-size: cover;
}

.container-phone {
  background-image: url("../../public/images/phone-mobile.jpg");
  background-size: cover;
}

.section-login {
  background-image: url("../../public/images/back-phone-blank.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  .container-home {
    background-image: url("../../public/images/back-tablet.jpg");
  }

  .container-phone {
    background-size: 115%;
    background-position: center top;
  }

  .section-login {
    background-image: url("../../public/images/back-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .container-home {
    background-image: url("../../public/images/back-laptop.jpg");
  }

  .container-phone {
    background-image: url("../../public/images/phone-desktop.jpg");
    background-size: cover;
    background-position: center top;
  }

  .section-login {
    background-image: url("../../public/images/back-laptop.jpg");
  }
}

@media (min-width: 1280px) {
  .container-phone {
    background-image: url("../../public/images/phone-desktop.jpg");
    background-size: cover;
    background-position: center top;
  }

  .container-home {
    background-image: url("../../public/images/back-desktop.jpg");
  }

  .section-login {
    background-image: url("../../public/images/back-desktop.jpg");
  }
}
