.light {
  --background01: #d4d4d4;
  --background02: #dfdfdf;
  --background03: #ececec;
  --cor-icones: #524aaf;
  --cor-icones-hover: #6e68af;
  --roxo-minerva: #4f47a8;
  --text-color: #000;
  --input-text: #404040;
  --button-hover: #584ebd;
  --button-text: #e4e4e7;
  --border-color: #a8a8a8;
  --header-color: #dfdfdf;
  --error-color: #e02424;
  --error-button: #b62f2f;
}

.dark {
  --background01: #101014;
  --background02: #151519;
  --background03: #1d1d22;
  --background03-hover: #1d1d22;
  --cor-icones: #9c97d6;
  --cor-icones-hover: #aeaad8;
  --roxo-minerva: #4f47a8da;
  --text-color: #dfdfdf;
  --input-text: #b6b6b6;
  --button-hover: #584ebd;
  --border-color: #363636;
  --header-color: #151519;
  --error-color: #da2323;
  --error-button: #8b1919;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background01);
}

@font-face {
  font-family: "parkinsans";
  src: url("../fonts/Parkinsans-Medium.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "parkinsans-regular";
  src: url("../fonts/Parkinsans-Regular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "handlee";
  src: url("../fonts/Handlee-Regular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter";
  src: url("../fonts/InterRegular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "inter-medium";
  src: url("../fonts/InterMedium.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dancing-bold";
  src: url("../fonts/DancingScriptBold.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

.container-home {
  background-image: url("../../public/images/back-phone.jpg");
  background-size: cover;
}

.container-phone {
  background-image: url("../../public/images/phone-mobile.jpg");
  background-position: center top;
  background-size: 125%;
}

.section-login {
  background-image: url("../../public/images/back-phone-blank.jpg");
  background-size: cover;
}

.background-art {
  background-image: url("../../public/images/background-art.jpg");
  background-position: 40% center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background-art-dark {
  background-image: url("../../public/images/background-art-dark.jpg");
  background-position: 40% center;
  background-size: cover;
  background-repeat: no-repeat;
}

.scroll-style::-webkit-scrollbar {
  width: 0px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  min-width: 100%;
  min-height: 100vh;

  backdrop-filter: var(--button-hover);
}

*:focus {
  outline: none;
}

@media (min-width: 768px) {
  .container-home {
    background-image: url("../../public/images/back-tablet.jpg");
  }

  .section-login {
    background-image: url("../../public/images/back-tablet.jpg");
  }
}

@media (min-width: 1024px) {
  .container-home {
    background-image: url("../../public/images/back-laptop.jpg");
  }

  .container-phone {
    background-image: url("../../public/images/minerva-test.png");
    background-size: cover;
    background-position: center top;
  }

  .section-login {
    background-image: url("../../public/images/back-laptop.jpg");
  }
}

@media (min-width: 1280px) {
  .container-home {
    background-image: url("../../public/images/back-desktop.jpg");
  }

  .section-login {
    background-image: url("../../public/images/back-desktop.jpg");
  }
}

@media print {
  body {
    zoom: 115%;
    object-fit: contain;

    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;

    .columns-print {
      grid-template-columns: repeat(3, 1fr) !important;
    }

    .show-on-print {
      display: flex;
    }
  }
}
